<a href="https://colab.research.google.com/github/serdarbozoglan/My_Pyspark/blob/master/SparkNLP_Training02_TextProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Code is from GitHub

https://github.com/JohnSnowLabs/spark-nlp-workshop/blob/master/tutorials/Certification_Trainings/Public/2.Text_Preprocessing_with_SparkNLP_Annotators_Transformers.ipynb

In [1]:
import os

# Install java
! apt-get install -y openjdk-8-jdk-headless -qq > /dev/null
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["PATH"] = os.environ["JAVA_HOME"] + "/bin:" + os.environ["PATH"]
! java -version

# Install pyspark
! pip install --ignore-installed pyspark==2.4.4

# Install Spark NLP
! pip install --ignore-installed spark-nlp==2.4.5

openjdk version "1.8.0_242"
OpenJDK Runtime Environment (build 1.8.0_242-8u242-b08-0ubuntu3~18.04-b08)
OpenJDK 64-Bit Server VM (build 25.242-b08, mixed mode)
Collecting pyspark==2.4.4
  Downloading https://files.pythonhosted.org/packages/87/21/f05c186f4ddb01d15d0ddc36ef4b7e3cedbeb6412274a41f26b55a650ee5/pyspark-2.4.4.tar.gz (215.7MB)
     |████████████████████████████████| 215.7MB 70kB/s
Collecting py4j==0.10.7
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 53.6MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.4-py2.py3-none-any.whl size=216130388 sha256=b6f69b742a13c9b22c318bf646d7501273d575705c0ea86e57bca30512657f5c
  Stored in directory: /root/.cache/pip/wheels/ab/09/4d/0d184230058e654eb1b04467dbc1292f00eaa186544604b471
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.4
Collecting spark-nlp==2.4.5
  Downloading https://files.pythonhosted.org/packages/31/46/5c5a2bda407f693126386da5378f132e5e163fa6dfa46109548270348786/spark_nlp-2.4.5-py2.py3-none-any.whl (110kB)
     |████████████████████████████████| 112kB 13.1MB/s
Installing collected packages: spark-nlp
Successfully installed spark-nlp-2.4.5

In [0]:
import pandas as pd

## Start Spark

In [4]:
import sparknlp
spark = sparknlp.start()

print('Spark NLP Version : ', sparknlp.version())
print('Apache Spark Version :', spark.version)

Spark NLP Version :  2.4.5
Apache Spark Version : 2.4.4

In [6]:
!wget https://gist.githubusercontent.com/vkocaman/e091605f012ffc1efc0fcda170919602/raw/fae33d25bd026375b2aaf1194b68b9da559c4ac4/annotators.csv

--2020-04-20 13:06:50--  https://gist.githubusercontent.com/vkocaman/e091605f012ffc1efc0fcda170919602/raw/fae33d25bd026375b2aaf1194b68b9da559c4ac4/annotators.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3136 (3.1K) [text/plain]
Saving to: ‘annotators.csv’

annotators.csv      100%[===================>]   3.06K  --.-KB/s    in 0s

2020-04-20 13:06:50 (49.3 MB/s) - ‘annotators.csv’ saved [3136/3136]

In [0]:
import pandas as pd

df = pd.read_csv('annotators.csv')

In [9]:
df

                  Annotator  ... Annotator Model
0                Tokenizer*  ...               +
1               Normalizer*  ...               +
2                  Stemmer*  ...               -
3               Lemmatizer*  ...               +
4             RegexMatcher*  ...               +
5              TextMatcher*  ...               +
6                  Chunker*  ...               -
7              DateMatcher*  ...               -
8         SentenceDetector*  ...               -
9     DeepSentenceDetector*  ...               -
10                POSTagger  ...               +
11  ViveknSentimentDetector  ...               +
12       SentimentDetector*  ...               +
13          WordEmbeddings*  ...               +
14          BertEmbeddings*  ...               -
15                   NerCrf  ...               +
16                    NerDL  ...               +
17           NorvigSweeting  ...               +
18          SymmetricDelete  ...               +
19      ContextSpellChecker  ...               +
20         DependencyParser  ...               +
21    TypedDependencyParser  ...               +
22          AssertionLogReg  ...               +
23              AssertionDL  ...               +
24           EntityResolver  ...               +
25         DeIdentification  ...               +

[26 rows x 5 columns]

In [14]:
text = 'Peter Parker is a nice guy and lives in New York.'

# spark is our session varaible we have created above as 'spark' = sparknlp.start() 
spark_df = spark.createDataFrame(([[text]])).toDF('text')
spark_df.show(truncate=False)

+-------------------------------------------------+
|text                                             |
+-------------------------------------------------+
|Peter Parker is a nice guy and lives in New York.|
+-------------------------------------------------+

In [17]:
spark_df = spark.createDataFrame(df)
spark_df.show(truncate=False)

+-----------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+------------------+---------------+
|Annotator              |Description                                                                                                                                                                                                |Version   |Annotator Approach|Annotator Model|
+-----------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+------------------+---------------+
|Tokenizer*             |Identifies tokens with tokenization open standards                                                                                                                                                         |Opensource|-                 |+              |
|Normalizer*            |Removes all dirty characters from text                                                                                                                                                                     |Opensource|-                 |+              |
|Stemmer*               |Returns hard'-stems out of words with the objective of retrieving the meaningful part of the word                                                                                                          |Opensource|+                 |-              |
|Lemmatizer*            |Retrieves lemmas out of words with the objective of returning a base dictionary word                                                                                                                       |Opensource|-                 |+              |
|RegexMatcher*          |Uses a reference file to match a set of regular expressions and put them inside a provided key.                                                                                                            |Opensource|+                 |+              |
|TextMatcher*           |Annotator to match entire phrases (by token) provided in a file against a Document                                                                                                                         |Opensource|+                 |+              |
|Chunker*               |Matches a pattern of part'-of'-speech tags in order to return meaningful phrases from document                                                                                                             |Opensource|+                 |-              |
|DateMatcher*           |Reads from different forms of date and time expressions and converts them to a provided date format                                                                                                        |Opensource|+                 |-              |
|SentenceDetector*      |Finds sentence bounds in raw text. Applies rules from Pragmatic Segmenter                                                                                                                                  |Opensource|+                 |-              |
|DeepSentenceDetector*  |Finds sentence bounds in raw text. Applies a Named Entity Recognition DL model                                                                                                                             |Opensource|+                 |-              |
|POSTagger              |Sets a Part'-Of'-Speech tag to each word within a sentence.                                                                                                                                                |Opensource|+                 |+              |
|ViveknSentimentDetector|Scores a sentence for a sentiment                                                                                                                                                                          |Opensource|+                 |+              |
|SentimentDetector*     |Scores a sentence for a sentiment                                                                                                                                                                          |Opensource|+                 |+              |
|WordEmbeddings*        |Word Embeddings lookup annotator that maps tokens to vectors                                                                                                                                               |Opensource|+                 |+              |
|BertEmbeddings*        |Bert Embeddings that maps tokens to vectors in a bidirectional way                                                                                                                                         |Opensource|+                 |-              |
|NerCrf                 |Named Entity recognition annotator allows for a generic model to be trained by utilizing a CRF machine learning algorithm                                                                                  |Opensource|+                 |+              |
|NerDL                  |This Named Entity recognition annotator allows to train generic NER model based on Neural Networks by utilizing Char CNNs '- BiLSTM '- CRF architecture that achieves state'-of'-the'-art in most datasets.|Opensource|+                 |+              |
|NorvigSweeting         |This annotator retrieves tokens and makes corrections automatically if not found in an English dictionary                                                                                                  |Opensource|+                 |+              |
|SymmetricDelete        |This spell checker is inspired on Symmetric Delete algorithm                                                                                                                                               |Opensource|+                 |+              |
|ContextSpellChecker    |Utilizes tensorflow to do context based spell checking                                                                                                                                                     |Opensource|+                 |+              |
+-----------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+------------------+---------------+
only showing top 20 rows

In [18]:
!wget https://raw.githubusercontent.com/JohnSnowLabs/spark-nlp-workshop/master/jupyter/annotation/english/spark-nlp-basics/sample-sentences-en.txt

--2020-04-20 13:21:01--  https://raw.githubusercontent.com/JohnSnowLabs/spark-nlp-workshop/master/jupyter/annotation/english/spark-nlp-basics/sample-sentences-en.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 284 [text/plain]
Saving to: ‘sample-sentences-en.txt’

sample-sentences-en 100%[===================>]     284  --.-KB/s    in 0s

2020-04-20 13:21:01 (17.7 MB/s) - ‘sample-sentences-en.txt’ saved [284/284]

In [27]:
# When we use read.text --> it reads line by line
spark_df1 = spark.read.text('./sample-sentences-en.txt').toDF('text')
spark_df1.show(truncate=False)

+-----------------------------------------------------------------------------+
|text                                                                         |
+-----------------------------------------------------------------------------+
|Peter is a very good person.                                                 |
|My life in Russia is very interesting.                                       |
|John and Peter are brothers. However they don't support each other that much.|
|Lucas Nogal Dunbercker is no longer happy. He has a good car though.         |
|Europe is very culture rich. There are huge churches! and big houses!        |
+-----------------------------------------------------------------------------+

In [28]:
# Eger sadece 1 column secmek istersek
spark_df1.select('text').show(truncate=False)

+-----------------------------------------------------------------------------+
|text                                                                         |
+-----------------------------------------------------------------------------+
|Peter is a very good person.                                                 |
|My life in Russia is very interesting.                                       |
|John and Peter are brothers. However they don't support each other that much.|
|Lucas Nogal Dunbercker is no longer happy. He has a good car though.         |
|Europe is very culture rich. There are huge churches! and big houses!        |
+-----------------------------------------------------------------------------+

In [22]:
# The wholeTextFiles reads file as whole single document not line by line
textFiles = spark.sparkContext.wholeTextFiles("./*.txt", 4)
spark_df = textFiles.toDF(schema=['path', 'file_content'])
spark_df.show(truncate=30)

+------------------------------+------------------------------+
|                          path|                  file_content|
+------------------------------+------------------------------+
|file:/content/sample-senten...|Peter is a very good person...|
+------------------------------+------------------------------+

In [23]:
spark_df.select('file_content').take(1)

[Row(file_content="Peter is a very good person.\nMy life in Russia is very interesting.\nJohn and Peter are brothers. However they don't support each other that much.\nLucas Nogal Dunbercker is no longer happy. He has a good car though.\nEurope is very culture rich. There are huge churches! and big houses!")]

## Document Assambler

In [0]:
from sparknlp.base import *

In [29]:
documentAssembler = DocumentAssembler()\
.setInputCol('text')\
.setOutputCol('document')\
.setCleanupMode('shrink') # bosluklari, tab'leri vs temizler

doc_df = documentAssembler.transform(spark_df1)
doc_df.show(truncate=False)

+-----------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------+
|text                                                                         |document                                                                                                               |
+-----------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------+
|Peter is a very good person.                                                 |[[document, 0, 27, Peter is a very good person., [sentence -> 0], []]]                                                 |
|My life in Russia is very interesting.                                       |[[document, 0, 37, My life in Russia is very interesting., [sentence -> 0], []]]                                       |
|John and Peter are brothers. However they don't support each other that much.|[[document, 0, 76, John and Peter are brothers. However they don't support each other that much., [sentence -> 0], []]]|
|Lucas Nogal Dunbercker is no longer happy. He has a good car though.         |[[document, 0, 67, Lucas Nogal Dunbercker is no longer happy. He has a good car though., [sentence -> 0], []]]         |
|Europe is very culture rich. There are huge churches! and big houses!        |[[document, 0, 68, Europe is very culture rich. There are huge churches! and big houses!, [sentence -> 0], []]]        |
+-----------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------+

In [30]:
doc_df.printSchema()
# as we can see we have the metadata here

root
 |-- text: string (nullable = true)
 |-- document: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- annotatorType: string (nullable = true)
 |    |    |-- begin: integer (nullable = false)
 |    |    |-- end: integer (nullable = false)
 |    |    |-- result: string (nullable = true)
 |    |    |-- metadata: map (nullable = true)
 |    |    |    |-- key: string
 |    |    |    |-- value: string (valueContainsNull = true)
 |    |    |-- embeddings: array (nullable = true)
 |    |    |    |-- element: float (containsNull = false)

In [31]:
doc_df.select('document.result', 'document.begin', 'document.end').show(truncate=False)
# each one returns a list type

+-------------------------------------------------------------------------------+-----+----+
|result                                                                         |begin|end |
+-------------------------------------------------------------------------------+-----+----+
|[Peter is a very good person.]                                                 |[0]  |[27]|
|[My life in Russia is very interesting.]                                       |[0]  |[37]|
|[John and Peter are brothers. However they don't support each other that much.]|[0]  |[76]|
|[Lucas Nogal Dunbercker is no longer happy. He has a good car though.]         |[0]  |[67]|
|[Europe is very culture rich. There are huge churches! and big houses!]        |[0]  |[68]|
+-------------------------------------------------------------------------------+-----+----+

In [34]:
# esas df'te document column uzerinde islem yapiyoruz o yuzden document.result olarak tanimlamaliyiz
doc_df.select("document.result").take(1)

[Row(result=['Peter is a very good person.'])]

In [36]:
### Expoloding teh dataframe (to view in much better nice view)

import pyspark.sql.functions as F

doc_df.withColumn(
    "tmp",
    F.explode('document'))\
    .select('tmp.*')\
    .show(truncate=False)

+-------------+-----+---+-----------------------------------------------------------------------------+---------------+----------+
|annotatorType|begin|end|result                                                                       |metadata       |embeddings|
+-------------+-----+---+-----------------------------------------------------------------------------+---------------+----------+
|document     |0    |27 |Peter is a very good person.                                                 |[sentence -> 0]|[]        |
|document     |0    |37 |My life in Russia is very interesting.                                       |[sentence -> 0]|[]        |
|document     |0    |76 |John and Peter are brothers. However they don't support each other that much.|[sentence -> 0]|[]        |
|document     |0    |67 |Lucas Nogal Dunbercker is no longer happy. He has a good car though.         |[sentence -> 0]|[]        |
|document     |0    |68 |Europe is very culture rich. There are huge churches! and big houses!        |[sentence -> 0]|[]        |
+-------------+-----+---+-----------------------------------------------------------------------------+---------------+----------+

## Sentence Detector

In [0]:
from sparknlp.annotator import *

# we feed the document column coming from Document Assembler

sentenceDetector = SentenceDetector().\
setInputCols(['document']).\
setOutputCol('sentences')

In [42]:
sent_df = sentenceDetector.transform(doc_df)
sent_df.show(truncate=False)

+-----------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|text                                                                         |document                                                                                                               |sentences                                                                                                                                                                                          |
+-----------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Peter is a very good person.                                                 |[[document, 0, 27, Peter is a very good person., [sentence -> 0], []]]                                                 |[[document, 0, 27, Peter is a very good person., [sentence -> 0], []]]                                                                                                                             |
|My life in Russia is very interesting.                                       |[[document, 0, 37, My life in Russia is very interesting., [sentence -> 0], []]]                                       |[[document, 0, 37, My life in Russia is very interesting., [sentence -> 0], []]]                                                                                                                   |
|John and Peter are brothers. However they don't support each other that much.|[[document, 0, 76, John and Peter are brothers. However they don't support each other that much., [sentence -> 0], []]]|[[document, 0, 27, John and Peter are brothers., [sentence -> 0], []], [document, 29, 76, However they don't support each other that much., [sentence -> 1], []]]                                  |
|Lucas Nogal Dunbercker is no longer happy. He has a good car though.         |[[document, 0, 67, Lucas Nogal Dunbercker is no longer happy. He has a good car though., [sentence -> 0], []]]         |[[document, 0, 41, Lucas Nogal Dunbercker is no longer happy., [sentence -> 0], []], [document, 43, 67, He has a good car though., [sentence -> 1], []]]                                           |
|Europe is very culture rich. There are huge churches! and big houses!        |[[document, 0, 68, Europe is very culture rich. There are huge churches! and big houses!, [sentence -> 0], []]]        |[[document, 0, 27, Europe is very culture rich., [sentence -> 0], []], [document, 29, 52, There are huge churches!, [sentence -> 1], []], [document, 54, 68, and big houses!, [sentence -> 2], []]]|
+-----------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [44]:
# take works as head in pandas
sent_df.select('sentences').take(3)

[Row(sentences=[Row(annotatorType='document', begin=0, end=27, result='Peter is a very good person.', metadata={'sentence': '0'}, embeddings=[])]),
 Row(sentences=[Row(annotatorType='document', begin=0, end=37, result='My life in Russia is very interesting.', metadata={'sentence': '0'}, embeddings=[])]),
 Row(sentences=[Row(annotatorType='document', begin=0, end=27, result='John and Peter are brothers.', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='document', begin=29, end=76, result="However they don't support each other that much.", metadata={'sentence': '1'}, embeddings=[])])]

In [47]:
sample_text ="""The patient was prescribed 1 capsule of Advil for 5 days . He was seen by the endocrinology 
service and she was discharged on 40 units of insulin glargine at night , 12 units of insulin lispro 
with meals , and metformin 1000 mg two times a day . It was determined that all SGLT2 inhibitors should 
be discontinued indefinitely fro 3 months ."""
sample_text

'The patient was prescribed 1 capsule of Advil for 5 days . He was seen by the endocrinology \nservice and she was discharged on 40 units of insulin glargine at night , 12 units of insulin lispro \nwith meals , and metformin 1000 mg two times a day . It was determined that all SGLT2 inhibitors should \nbe discontinued indefinitely fro 3 months .'

In [49]:
spark_df2 = spark.createDataFrame([[sample_text]]).toDF('text')
spark_df2.show(truncate=False)

+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|text                                                                                                                                                                                                                                                                                                                                                   |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|The patient was prescribed 1 capsule of Advil for 5 days . He was seen by the endocrinology
service and she was discharged on 40 units of insulin glargine at night , 12 units of insulin lispro
with meals , and metformin 1000 mg two times a day . It was determined that all SGLT2 inhibitors should
be discontinued indefinitely fro 3 months .|
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [54]:
doc_df1 = documentAssembler.transform(spark_df2)
sent_df = sentenceDetector.transform(doc_df1)
sent_df.show(truncate=40)

+----------------------------------------+----------------------------------------+----------------------------------------+
|                                    text|                                document|                               sentences|
+----------------------------------------+----------------------------------------+----------------------------------------+
|The patient was prescribed 1 capsule ...|[[document, 0, 339, The patient was p...|[[document, 0, 57, The patient was pr...|
+----------------------------------------+----------------------------------------+----------------------------------------+

In [56]:
sent_df.select('sentences.result').take(1)

[Row(result=['The patient was prescribed 1 capsule of Advil for 5 days .', 'He was seen by the endocrinology service and she was discharged on 40 units of insulin glargine at night , 12 units of insulin lispro with meals , and metformin 1000 mg two times a day .', 'It was determined that all SGLT2 inhibitors should be discontinued indefinitely fro 3 months .'])]

In [57]:
sentenceDetector.setExplodeSentences(True)

SentenceDetector_18a10300d4df

In [64]:
sent_df = sentenceDetector.transform(doc_df1)
sent_df.select('sentences.result').show(truncate=False)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|result                                                                                                                                                                                      |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|[The patient was prescribed 1 capsule of Advil for 5 days .]                                                                                                                                |
|[He was seen by the endocrinology service and she was discharged on 40 units of insulin glargine at night , 12 units of insulin lispro with meals , and metformin 1000 mg two times a day .]|
|[It was determined that all SGLT2 inhibitors should be discontinued indefinitely fro 3 months .]                                                                                            |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

## Tokenizer

In [0]:
# #we can also use sentence in InputCols
tokenizer = Tokenizer()\
            .setInputCols(['document'])\
            .setOutputCol('token')

In [81]:
text2 = "Peter Parker (Spiderman) is a nice guy and live ins New York but has no e-mail! and he's gone so far"
text2.split()
# There are unwanted chars below which we do not want a part fo token such as () and !

['Peter',
 'Parker',
 '(Spiderman)',
 'is',
 'a',
 'nice',
 'guy',
 'and',
 'live',
 'ins',
 'New',
 'York',
 'but',
 'has',
 'no',
 'e-mail!',
 'and',
 "he's",
 'gone',
 'so',
 'far']

In [0]:
spark_df = spark.createDataFrame([[text2]]).toDF('text')

In [83]:
doc_df = documentAssembler.transform(spark_df)
token_df = tokenizer.fit(doc_df).transform(doc_df)
token_df.show(truncate=100)

+----------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------+
|                                                                                                text|                                                                                            document|                                                                                               token|
+----------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------+
|Peter Parker (Spiderman) is a nice guy and live ins New York but has no e-mail! and he's gone so far|[[document, 0, 99, Peter Parker (Spiderman) is a nice guy and live ins New York but has no e-mail...|[[token, 0, 4, Peter, [sentence -> 0], []], [token, 6, 11, Parker, [sentence -> 0], []], [token, ...|
+----------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------+

In [84]:
token_df.select('token.result').take(1)

[Row(result=['Peter', 'Parker', '(', 'Spiderman', ')', 'is', 'a', 'nice', 'guy', 'and', 'live', 'ins', 'New', 'York', 'but', 'has', 'no', 'e-mail', '!', 'and', "he's", 'gone', 'so', 'far'])]

In [0]:
# Eger tokenizer i custome etmek istersek

tokenizer = Tokenizer()\
            .setInputCols(['document'])\
            .setOutputCol('token')\
            .setSplitChars(['-'])\
            .setContextChars(['(', ')', '?', '!'])\
            .addException('New York')

In [87]:
token_df = tokenizer.fit(doc_df).transform(token_df)
token_df.select('token.result').take(1)

[Row(result=['Peter', 'Parker', '(', 'Spiderman', ')', 'is', 'a', 'nice', 'guy', 'and', 'live', 'ins', 'New York', 'but', 'has', 'no', 'e', 'mail', '!', 'and', "he's", 'gone', 'so', 'far'])]

In [0]:
# # Pay Attention to () for Spiderman
tokenizer33 = Tokenizer()\
            .setInputCols(['document'])\
            .setOutputCol('token')\
            .setSplitChars(['-'])\
            .setContextChars(['?', '!'])\
            .addException('New York')

In [104]:
token_df = tokenizer33.fit(doc_df).transform(token_df)
token_df.select('token.result').take(1)

[Row(result=['Peter', 'Parker', '(Spiderman)', 'is', 'a', 'nice', 'guy', 'and', 'live', 'ins', 'New York', 'but', 'has', 'no', 'e', 'mail', '!', 'and', "he's", 'gone', 'so', 'far'])]

In [0]:
### Let's Combine Everything in a Pipeline

In [0]:
from pyspark.ml import Pipeline

documentAssembler = DocumentAssembler()\
                    .setInputCol('text')\
                    .setOutputCol('document')

sentenceDetector = SentenceDetector()\
                    .setInputCols(['document'])\
                    .setOutputCol('sentences')

tokenizer = Tokenizer()\
            .setInputCols(['sentences'])\
            .setOutputCol('token')
        
nlPipeline = Pipeline(stages=[
                              documentAssembler,
                              sentenceDetector,
                              tokenizer
])

empty_df = spark.createDataFrame([['']]).toDF('text')

pipelineModel = nlPipeline.fit(empty_df)

In [108]:
spark_df = spark.read.text('./sample-sentences-en.txt').toDF('text')
spark_df.show(truncate=False)

+-----------------------------------------------------------------------------+
|text                                                                         |
+-----------------------------------------------------------------------------+
|Peter is a very good person.                                                 |
|My life in Russia is very interesting.                                       |
|John and Peter are brothers. However they don't support each other that much.|
|Lucas Nogal Dunbercker is no longer happy. He has a good car though.         |
|Europe is very culture rich. There are huge churches! and big houses!        |
+-----------------------------------------------------------------------------+

In [111]:
result = pipelineModel.transform(spark_df)
result.show(truncate=20)

+--------------------+--------------------+--------------------+--------------------+
|                text|            document|           sentences|               token|
+--------------------+--------------------+--------------------+--------------------+
|Peter is a very g...|[[document, 0, 27...|[[document, 0, 27...|[[token, 0, 4, Pe...|
|My life in Russia...|[[document, 0, 37...|[[document, 0, 37...|[[token, 0, 1, My...|
|John and Peter ar...|[[document, 0, 76...|[[document, 0, 27...|[[token, 0, 3, Jo...|
|Lucas Nogal Dunbe...|[[document, 0, 67...|[[document, 0, 41...|[[token, 0, 4, Lu...|
|Europe is very cu...|[[document, 0, 68...|[[document, 0, 27...|[[token, 0, 5, Eu...|
+--------------------+--------------------+--------------------+--------------------+

In [112]:
result.printSchema()

root
 |-- text: string (nullable = true)
 |-- document: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- annotatorType: string (nullable = true)
 |    |    |-- begin: integer (nullable = false)
 |    |    |-- end: integer (nullable = false)
 |    |    |-- result: string (nullable = true)
 |    |    |-- metadata: map (nullable = true)
 |    |    |    |-- key: string
 |    |    |    |-- value: string (valueContainsNull = true)
 |    |    |-- embeddings: array (nullable = true)
 |    |    |    |-- element: float (containsNull = false)
 |-- sentences: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- annotatorType: string (nullable = true)
 |    |    |-- begin: integer (nullable = false)
 |    |    |-- end: integer (nullable = false)
 |    |    |-- result: string (nullable = true)
 |    |    |-- metadata: map (nullable = true)
 |    |    |    |-- key: string
 |    |    |    |-- value: string (valueContainsNull = true)
 |    |    |-- embeddings: array (nullable = true)
 |    |    |    |-- element: float (containsNull = false)
 |-- token: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- annotatorType: string (nullable = true)
 |    |    |-- begin: integer (nullable = false)
 |    |    |-- end: integer (nullable = false)
 |    |    |-- result: string (nullable = true)
 |    |    |-- metadata: map (nullable = true)
 |    |    |    |-- key: string
 |    |    |    |-- value: string (valueContainsNull = true)
 |    |    |-- embeddings: array (nullable = true)
 |    |    |    |-- element: float (containsNull = false)

In [113]:
result.select('sentences.result').take(3)

[Row(result=['Peter is a very good person.']),
 Row(result=['My life in Russia is very interesting.']),
 Row(result=['John and Peter are brothers.', "However they don't support each other that much."])]

In [115]:
result.select('token').take(3)[2]

Row(token=[Row(annotatorType='token', begin=0, end=3, result='John', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=5, end=7, result='and', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=9, end=13, result='Peter', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=15, end=17, result='are', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=19, end=26, result='brothers', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=27, end=27, result='.', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=29, end=35, result='However', metadata={'sentence': '1'}, embeddings=[]), Row(annotatorType='token', begin=37, end=40, result='they', metadata={'sentence': '1'}, embeddings=[]), Row(annotatorType='token', begin=42, end=46, result="don't", metadata={'sentence': '1'}, embeddings=[]), Row(annotatorType='token', begin=48, end=54, result='support', metadata={'sentence': '1'}, embeddings=[]), Row(annotatorType='token', begin=56, end=59, result='each', metadata={'sentence': '1'}, embeddings=[]), Row(annotatorType='token', begin=61, end=65, result='other', metadata={'sentence': '1'}, embeddings=[]), Row(annotatorType='token', begin=67, end=70, result='that', metadata={'sentence': '1'}, embeddings=[]), Row(annotatorType='token', begin=72, end=75, result='much', metadata={'sentence': '1'}, embeddings=[]), Row(annotatorType='token', begin=76, end=76, result='.', metadata={'sentence': '1'}, embeddings=[])])

In [116]:
result.select('token.result').take(3)

[Row(result=['Peter', 'is', 'a', 'very', 'good', 'person', '.']),
 Row(result=['My', 'life', 'in', 'Russia', 'is', 'very', 'interesting', '.']),
 Row(result=['John', 'and', 'Peter', 'are', 'brothers', '.', 'However', 'they', "don't", 'support', 'each', 'other', 'that', 'much', '.'])]

In [123]:
''.join([i for i in "My name is @# Serdar." if i.isalnum() or i==' '])

'My name is  Serdar'

## Normalizer

In [118]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [0]:
from sparknlp.annotator import *

normalizer = Normalizer()\
            .setInputCols(['token'])\
            .setOutputCol('normalized')\
            .setLowercase(True)\
            .setCleanupPatterns(["[^\w\d\s]"]) #remove punctuations and keep alphanumerics only
            # if we do not set ClenaupPatterns it till only keep alphabet letters [^A-Za-z]

In [0]:
# We're removing sentence annotator


documentAssembler = DocumentAssembler()\
.setInputCol("text")\
.setOutputCol("document")

tokenizer = Tokenizer() \
    .setInputCols(["document"]) \
    .setOutputCol("token")

nlPipeline = Pipeline(stages=[
                              documentAssembler,
                              tokenizer,
                              normalizer
])
empty_df = spark.createDataFrame([['']]).toDF('text')

pipelineModel = nlPipeline.fit(empty_df)

In [132]:
result = pipelineModel.transform(spark_df)
result.show(truncate=True)

+--------------------+--------------------+--------------------+--------------------+
|                text|            document|               token|          normalized|
+--------------------+--------------------+--------------------+--------------------+
|Peter is a very g...|[[document, 0, 27...|[[token, 0, 4, Pe...|[[token, 0, 4, pe...|
|My life in Russia...|[[document, 0, 37...|[[token, 0, 1, My...|[[token, 0, 1, my...|
|John and Peter ar...|[[document, 0, 76...|[[token, 0, 3, Jo...|[[token, 0, 3, jo...|
|Lucas Nogal Dunbe...|[[document, 0, 67...|[[token, 0, 4, Lu...|[[token, 0, 4, lu...|
|Europe is very cu...|[[document, 0, 68...|[[token, 0, 5, Eu...|[[token, 0, 5, eu...|
+--------------------+--------------------+--------------------+--------------------+

In [133]:
result.select('normalized.result').take(3)

[Row(result=['peter', 'is', 'a', 'very', 'good', 'person']),
 Row(result=['my', 'life', 'in', 'russia', 'is', 'very', 'interesting']),
 Row(result=['john', 'and', 'peter', 'are', 'brothers', 'however', 'they', 'dont', 'support', 'each', 'other', 'that', 'much'])]

## Stopwrods

In [0]:
stopwords_cleaner = StopWordsCleaner()\
                    .setInputCols('token')\
                    .setOutputCol('cleanTokens')\
                    .setCaseSensitive(False)
                    #.setStopWords(['no', 'without']) custom stopwords we can use but it will overwrite existing stopwords and will ONLY use this one
                    # if we want to  use normalized ones and just want to use from normalised use "normalized" in InputCols

documentAssembler = DocumentAssembler()\
.setInputCol("text")\
.setOutputCol("document")

tokenizer = Tokenizer() \
    .setInputCols(["document"]) \
    .setOutputCol("token")

nlPipeline = Pipeline(stages=[
                              documentAssembler,
                              tokenizer,
                              stopwords_cleaner
])

empty_df = spark.createDataFrame([['']]).toDF('text')

pipelineModel = nlPipeline.fit(empty_df)

In [147]:
result = pipelineModel.transform(spark_df)
result.show(truncate=True)

+--------------------+--------------------+--------------------+--------------------+
|                text|            document|               token|         cleanTokens|
+--------------------+--------------------+--------------------+--------------------+
|Peter is a very g...|[[document, 0, 27...|[[token, 0, 4, Pe...|[[token, 0, 4, Pe...|
|My life in Russia...|[[document, 0, 37...|[[token, 0, 1, My...|[[token, 3, 6, li...|
|John and Peter ar...|[[document, 0, 76...|[[token, 0, 3, Jo...|[[token, 0, 3, Jo...|
|Lucas Nogal Dunbe...|[[document, 0, 67...|[[token, 0, 4, Lu...|[[token, 0, 4, Lu...|
|Europe is very cu...|[[document, 0, 68...|[[token, 0, 5, Eu...|[[token, 0, 5, Eu...|
+--------------------+--------------------+--------------------+--------------------+

In [149]:
result.select('cleanTokens.result').take(3)
# We did not include Normalizer so we might see punctuations and uppercase. If we dont want, se should incluce in pipeline

[Row(result=['Peter', 'good', 'person', '.']),
 Row(result=['life', 'Russia', 'interesting', '.']),
 Row(result=['John', 'Peter', 'brothers', '.', 'However', 'support', 'much', '.'])]

## Token Assembler

In [150]:
documentAssembler = DocumentAssembler()\
.setInputCol("text")\
.setOutputCol("document")

sentenceDetector = SentenceDetector().\
    setInputCols(['document']).\
    setOutputCol('sentences')

tokenizer = Tokenizer() \
    .setInputCols(["sentences"]) \
    .setOutputCol("token")

normalizer = Normalizer() \
    .setInputCols(["token"]) \
    .setOutputCol("normalized")\
    .setLowercase(False)\

stopwords_cleaner = StopWordsCleaner()\
      .setInputCols("normalized")\
      .setOutputCol("cleanTokens")\
      .setCaseSensitive(False)\

tokenassembler = TokenAssembler()\
    .setInputCols(["cleanTokens"]) \
    .setOutputCol("clean_text")


nlpPipeline = Pipeline(stages=[
     documentAssembler,
    sentenceDetector,
     tokenizer,
     normalizer,
     stopwords_cleaner,
     tokenassembler
 ])


empty_df = spark.createDataFrame([['']]).toDF("text")

pipelineModel = nlpPipeline.fit(empty_df)

result = pipelineModel.transform(spark_df)

result.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|                text|            document|           sentences|               token|          normalized|         cleanTokens|          clean_text|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|Peter is a very g...|[[document, 0, 27...|[[document, 0, 27...|[[token, 0, 4, Pe...|[[token, 0, 4, Pe...|[[token, 0, 4, Pe...|[[document, 0, 16...|
|My life in Russia...|[[document, 0, 37...|[[document, 0, 37...|[[token, 0, 1, My...|[[token, 0, 1, My...|[[token, 3, 6, li...|[[document, 3, 25...|
|John and Peter ar...|[[document, 0, 76...|[[document, 0, 27...|[[token, 0, 3, Jo...|[[token, 0, 3, Jo...|[[token, 0, 3, Jo...|[[document, 0, 18...|
|Lucas Nogal Dunbe...|[[document, 0, 67...|[[document, 0, 41...|[[token, 0, 4, Lu...|[[token, 0, 4, Lu...|[[token, 0, 4, Lu...|[[document, 0, 34...|
|Europe is very cu...|[[document, 0, 68...|[[document, 0, 27...|[[token, 0, 5, Eu...|[[token, 0, 5, Eu...|[[token, 0, 5, Eu...|[[document, 0, 18...|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+

In [151]:
result.select(['text', 'clean_text.result']).show(truncate=False)

+-----------------------------------------------------------------------------+------------------------------------------------------+
|text                                                                         |result                                                |
+-----------------------------------------------------------------------------+------------------------------------------------------+
|Peter is a very good person.                                                 |[Peter good person]                                   |
|My life in Russia is very interesting.                                       |[life Russia interesting]                             |
|John and Peter are brothers. However they don't support each other that much.|[John Peter brothers, However dont support much]      |
|Lucas Nogal Dunbercker is no longer happy. He has a good car though.         |[Lucas Nogal Dunbercker longer happy, good car though]|
|Europe is very culture rich. There are huge churches! and big houses!        |[Europe culture rich, huge churches, big houses]      |
+-----------------------------------------------------------------------------+------------------------------------------------------+

In [153]:
import pyspark.sql.functions as F

result.withColumn(
    "tmp",
    F.explode('clean_text'))\
    .select("tmp.*").select('begin', 'end', 'result', 'metadata.sentence').show(truncate=False)

+-----+---+-----------------------------------+--------+
|begin|end|result                             |sentence|
+-----+---+-----------------------------------+--------+
|0    |16 |Peter good person                  |0       |
|3    |25 |life Russia interesting            |0       |
|0    |18 |John Peter brothers                |0       |
|29   |53 |However dont support much          |1       |
|0    |34 |Lucas Nogal Dunbercker longer happy|0       |
|52   |66 |good car though                    |1       |
|0    |18 |Europe culture rich                |0       |
|39   |51 |huge churches                      |1       |
|58   |67 |big houses                         |2       |
+-----+---+-----------------------------------+--------+

In [154]:
# if we hadn't used Sentence Detector, this would be what we got. (tokenizer gets document instead of sentences column)

tokenizer = Tokenizer() \
    .setInputCols(["document"]) \
    .setOutputCol("token")


nlpPipeline = Pipeline(stages=[
     documentAssembler,
     tokenizer,
     normalizer,
     stopwords_cleaner,
     tokenassembler
 ])


empty_df = spark.createDataFrame([['']]).toDF("text")

pipelineModel = nlpPipeline.fit(empty_df)

result = pipelineModel.transform(spark_df)

result.select('text', 'clean_text.result').show(truncate=False)

+-----------------------------------------------------------------------------+-----------------------------------------------------+
|text                                                                         |result                                               |
+-----------------------------------------------------------------------------+-----------------------------------------------------+
|Peter is a very good person.                                                 |[Peter good person]                                  |
|My life in Russia is very interesting.                                       |[life Russia interesting]                            |
|John and Peter are brothers. However they don't support each other that much.|[John Peter brothers However dont support much]      |
|Lucas Nogal Dunbercker is no longer happy. He has a good car though.         |[Lucas Nogal Dunbercker longer happy good car though]|
|Europe is very culture rich. There are huge churches! and big houses!        |[Europe culture rich huge churches big houses]       |
+-----------------------------------------------------------------------------+-----------------------------------------------------+

In [155]:
result.withColumn(
    "tmp",
    F.explode('clean_text'))\
    .select("tmp.*").select('begin', 'end', 'result', 'metadata.sentence').show(truncate=False)

# We get all sentences in a single lien and all sentences assigend as 0, there si no other sentence

+-----+---+---------------------------------------------------+--------+
|begin|end|result                                             |sentence|
+-----+---+---------------------------------------------------+--------+
|0    |16 |Peter good person                                  |0       |
|3    |25 |life Russia interesting                            |0       |
|0    |44 |John Peter brothers However dont support much      |0       |
|0    |50 |Lucas Nogal Dunbercker longer happy good car though|0       |
|0    |43 |Europe culture rich huge churches big houses       |0       |
+-----+---+---------------------------------------------------+--------+

## Stemmer

In [0]:
stemmer = Stemmer() \
    .setInputCols(["token"]) \
    .setOutputCol("stem")

In [0]:

documentAssembler = DocumentAssembler()\
.setInputCol("text")\
.setOutputCol("document")

tokenizer = Tokenizer() \
    .setInputCols(["document"]) \
    .setOutputCol("token")

nlpPipeline = Pipeline(stages=[
 documentAssembler, 
 tokenizer,
 stemmer
 ])

empty_df = spark.createDataFrame([['']]).toDF("text")

pipelineModel = nlpPipeline.fit(empty_df)

In [158]:

result = pipelineModel.transform(spark_df)

result.show()

+--------------------+--------------------+--------------------+--------------------+
|                text|            document|               token|                stem|
+--------------------+--------------------+--------------------+--------------------+
|Peter is a very g...|[[document, 0, 27...|[[token, 0, 4, Pe...|[[token, 0, 4, pe...|
|My life in Russia...|[[document, 0, 37...|[[token, 0, 1, My...|[[token, 0, 1, my...|
|John and Peter ar...|[[document, 0, 76...|[[token, 0, 3, Jo...|[[token, 0, 3, jo...|
|Lucas Nogal Dunbe...|[[document, 0, 67...|[[token, 0, 4, Lu...|[[token, 0, 4, lu...|
|Europe is very cu...|[[document, 0, 68...|[[token, 0, 5, Eu...|[[token, 0, 5, eu...|
+--------------------+--------------------+--------------------+--------------------+

In [159]:
result.select('stem.result').show(truncate=False)

+-------------------------------------------------------------------------------------------+
|result                                                                                     |
+-------------------------------------------------------------------------------------------+
|[peter, i, a, veri, good, person, .]                                                       |
|[my, life, in, russia, i, veri, interest, .]                                               |
|[john, and, peter, ar, brother, ., howev, thei, don't, support, each, other, that, much, .]|
|[luca, nogal, dunberck, i, no, longer, happi, ., he, ha, a, good, car, though, .]          |
|[europ, i, veri, cultur, rich, ., there, ar, huge, church, !, and, big, hous, !]           |
+-------------------------------------------------------------------------------------------+

In [160]:
import pyspark.sql.functions as F

result_df = result.select(F.explode(F.arrays_zip('token.result', 'stem.result')).alias("cols")) \
.select(F.expr("cols['0']").alias("token"),
        F.expr("cols['1']").alias("stem")).toPandas()

result_df.head(10)

    token    stem
0   Peter   peter
1      is       i
2       a       a
3    very    veri
4    good    good
5  person  person
6       .       .
7      My      my
8    life    life
9      in      in

## Lemmatizer

In [161]:
!wget https://raw.githubusercontent.com/mahavivo/vocabulary/master/lemmas/AntBNC_lemmas_ver_001.txt

--2020-04-20 16:01:21--  https://raw.githubusercontent.com/mahavivo/vocabulary/master/lemmas/AntBNC_lemmas_ver_001.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1348552 (1.3M) [text/plain]
Saving to: ‘AntBNC_lemmas_ver_001.txt’

AntBNC_lemmas_ver_0 100%[===================>]   1.29M  --.-KB/s    in 0.01s

2020-04-20 16:01:21 (128 MB/s) - ‘AntBNC_lemmas_ver_001.txt’ saved [1348552/1348552]

In [0]:
lemmatizer = Lemmatizer() \
    .setInputCols(["token"]) \
    .setOutputCol("lemma") \
    .setDictionary("./AntBNC_lemmas_ver_001.txt", value_delimiter ="\t", key_delimiter = "->")

In [0]:
documentAssembler = DocumentAssembler()\
.setInputCol("text")\
.setOutputCol("document")

tokenizer = Tokenizer() \
    .setInputCols(["document"]) \
    .setOutputCol("token")

stemmer = Stemmer() \
    .setInputCols(["token"]) \
    .setOutputCol("stem")

nlpPipeline = Pipeline(stages=[
 documentAssembler, 
 tokenizer,
 stemmer,
 lemmatizer
 ])

empty_df = spark.createDataFrame([['']]).toDF("text")

pipelineModel = nlpPipeline.fit(empty_df)

In [164]:
result = pipelineModel.transform(spark_df)

result.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+
|                text|            document|               token|                stem|               lemma|
+--------------------+--------------------+--------------------+--------------------+--------------------+
|Peter is a very g...|[[document, 0, 27...|[[token, 0, 4, Pe...|[[token, 0, 4, pe...|[[token, 0, 4, Pe...|
|My life in Russia...|[[document, 0, 37...|[[token, 0, 1, My...|[[token, 0, 1, my...|[[token, 0, 1, My...|
|John and Peter ar...|[[document, 0, 76...|[[token, 0, 3, Jo...|[[token, 0, 3, jo...|[[token, 0, 3, Jo...|
|Lucas Nogal Dunbe...|[[document, 0, 67...|[[token, 0, 4, Lu...|[[token, 0, 4, lu...|[[token, 0, 4, Lu...|
|Europe is very cu...|[[document, 0, 68...|[[token, 0, 5, Eu...|[[token, 0, 5, eu...|[[token, 0, 5, Eu...|
+--------------------+--------------------+--------------------+--------------------+--------------------+

In [165]:
result.select('lemma.result').show(truncate=False)

+---------------------------------------------------------------------------------------------+
|result                                                                                       |
+---------------------------------------------------------------------------------------------+
|[Peter, be, a, very, good, person, .]                                                        |
|[My, life, in, Russia, be, very, interest, .]                                                |
|[John, and, Peter, be, brother, ., However, they, don't, support, each, other, that, much, .]|
|[Lucas, Nogal, Dunbercker, be, no, long, happy, ., He, have, a, good, car, though, .]        |
|[Europe, be, very, culture, rich, ., There, be, huge, church, !, and, big, house, !]         |
+---------------------------------------------------------------------------------------------+

In [166]:

result_df = result.select(F.explode(F.arrays_zip('token.result', 'stem.result',  'lemma.result')).alias("cols")) \
.select(F.expr("cols['0']").alias("token"),
        F.expr("cols['1']").alias("stem"),
        F.expr("cols['2']").alias("lemma")).toPandas()

result_df.head(10)

    token    stem   lemma
0   Peter   peter   Peter
1      is       i      be
2       a       a       a
3    very    veri    very
4    good    good    good
5  person  person  person
6       .       .       .
7      My      my      My
8    life    life    life
9      in      in      in

## N-Gram

In [168]:
ngrams_cum = NGramGenerator() \
            .setInputCols(["token"]) \
            .setOutputCol("ngrams") \
            .setN(3) \
            .setEnableCumulative(True)\
            .setDelimiter("_") # Default is space
    
# .setN(3) means, take bigrams and trigrams.

nlpPipeline = Pipeline(stages=[
 documentAssembler, 
 tokenizer,
 ngrams_cum
 ])

empty_df = spark.createDataFrame([['']]).toDF("text")

pipelineModel = nlpPipeline.fit(empty_df)

result = pipelineModel.transform(spark_df)

result.select('ngrams.result').show(truncate=200)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                                  result|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                    [Peter, is, a, very, good, person, ., Peter_is, is_a, a_very, very_good, good_person, person_., Peter_is_a, is_a_very, a_very_good, very_good_person, good_person_.]|
|[My, life, in, Russia, is, very, interesting, ., My_life, life_in, in_Russia, Russia_is, is_very, very_interesting, interesting_., My_life_in, life_in_Russia, in_Russia_is, Russia_is_very, is_very_...|
|[John, and, Peter, are, brothers, ., However, they, don't, support, each, other, that, much, ., John_and, and_Peter, Peter_are, are_brothers, brothers_., ._However, However_they, they_don't, don't_...|
|[Lucas, Nogal, Dunbercker, is, no, longer, happy, ., He, has, a, good, car, though, ., Lucas_Nogal, Nogal_Dunbercker, Dunbercker_is, is_no, no_longer, longer_happy, happy_., ._He, He_has, has_a, a_...|
|[Europe, is, very, culture, rich, ., There, are, huge, churches, !, and, big, houses, !, Europe_is, is_very, very_culture, culture_rich, rich_., ._There, There_are, are_huge, huge_churches, churche...|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

## Text Matcher

In [169]:
! wget 	https://s3.amazonaws.com/auxdata.johnsnowlabs.com/public/resources/en/pubmed/pubmed-sample.csv

--2020-04-20 16:11:48--  https://s3.amazonaws.com/auxdata.johnsnowlabs.com/public/resources/en/pubmed/pubmed-sample.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.110.13
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.110.13|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10484510 (10.0M) [text/csv]
Saving to: ‘pubmed-sample.csv’

pubmed-sample.csv   100%[===================>]  10.00M  16.8MB/s    in 0.6s

2020-04-20 16:11:49 (16.8 MB/s) - ‘pubmed-sample.csv’ saved [10484510/10484510]

In [174]:
!head pubmed-sample.csv

AB,TI
"The human KCNJ9 (Kir 3.3, GIRK3) is a member of the G-protein-activated inwardly rectifying potassium (GIRK) channel family. Here we describe the genomicorganization of the KCNJ9 locus on chromosome 1q21-23 as a candidate gene forType II diabetes mellitus in the Pima Indian population. The gene spansapproximately 7.6 kb and contains one noncoding and two coding exons separated byapproximately 2.2 and approximately 2.6 kb introns, respectively. We identified14 single nucleotide polymorphisms (SNPs), including one that predicts aVal366Ala substitution, and an 8 base-pair (bp) insertion/deletion. Ourexpression studies revealed the presence of the transcript in various humantissues including pancreas, and two major insulin-responsive tissues: fat andskeletal muscle. The characterization of the KCNJ9 gene should facilitate furtherstudies on the function of the KCNJ9 protein and allow evaluation of thepotential role of the locus in Type II diabetes.","Genomic structure and expression of human KCNJ9 (Kir3.3/GIRK3)."
"BACKGROUND: At present, it is one of the most important issues for the treatment of breast cancer to develop the standard therapy for patients previously treated with anthracyclines and taxanes. With the objective of determining the usefulnessof vinorelbine monotherapy in patients with advanced or recurrent breast cancerafter standard therapy, we evaluated the efficacy and safety of vinorelbine inpatients previously treated with anthracyclines and taxanes. METHODS: Vinorelbinewas administered at a dose level of 25 mg/m(2) intravenously on days 1 and 8 of a3 week cycle. Patients were given three or more cycles in the absence of tumorprogression. A maximum of nine cycles were administered. RESULTS: The responserate in 50 evaluable patients was 20.0% (10 out of 50; 95% confidence interval,10.0-33.7%). Responders plus those who had minor response (MR) or no change (NC) accounted for 58.0% [10 partial responses (PRs) + one MR + 18 NCs out of 50]. TheKaplan-Meier estimate (50% point) of time to progression (TTP) was 115.0 days.The response rate in the visceral organs was 17.3% (nine PRs out of 52). Themajor toxicity was myelosuppression, which was reversible and did not requirediscontinuation of treatment. CONCLUSION: The results of this study show thatvinorelbine monotherapy is useful in patients with advanced or recurrent breastcancer previously exposed to both anthracyclines and taxanes.","Late phase II clinical study of vinorelbine monotherapy in advanced or recurrent breast cancer previously treated with anthracyclines and taxanes."
"OBJECTIVE: To investigate the relationship between preoperative atrialfibrillation and early and late clinical outcomes following cardiac surgery.METHODS: A retrospective cohort including all consecutive coronary artery bypass graft and/or valve surgery patients between 1995 and 2005 was identified (n =9796). No patient had a concomitant surgical AF ablation. The association betweenpreoperative atrial fibrillation and in-hospital outcomes was examined. We alsodetermined late death and cardiovascular-related re-hospitalization by linking toadministrative health databases. Median follow-up was 2.9 years (maximum 11years). RESULTS: The prevalence of preoperative atrial fibrillation was 11.3% (n = 1105), ranging from 7.2% in isolated CABG to 30% in valve surgery. In-hospital mortality, stroke, and renal failure were more common in atrial fibrillationpatients (all p < 0.0001), although the association between atrial fibrillationand mortality was not statistically significant in multivariate logisticregression. Longitudinal analyses showed that preoperative atrial fibrillationwas associated with decreased event-free survival (adjusted hazard ratio 1.55,95% confidence interval 1.42-1.70, p < 0.0001). CONCLUSIONS: Preoperative atrial fibrillation is associated with increased late mortality and recurrentcardiovascular events post-cardiac surgery. Effective management strategies foratrial fibrillation need to be explored and may provide an opportunity to improvethe long-term outcomes of cardiac surgical patients.","Preoperative atrial fibrillation decreases event-free survival following cardiac surgery."
"Combined EEG/fMRI recording has been used to localize the generators of EEGevents and to identify subject state in cognitive studies and is of increasinginterest. However, the large EEG artifacts induced during fMRI have precludedsimultaneous EEG and fMRI recording, restricting study design. Removing thisartifact is difficult, as it normally exceeds EEG significantly and containscomponents in the EEG frequency range. We have developed a recording system andan artifact reduction method that reduce this artifact effectively. The recordingsystem has large dynamic range to capture both low-amplitude EEG and largeimaging artifact without distortion (resolution 2 microV, range 33.3 mV), 5-kHzsampling, and low-pass filtering prior to the main gain stage. Imaging artifactis reduced by subtracting an averaged artifact waveform, followed by adaptivenoise cancellation to reduce any residual artifact. This method was validated in recordings from five subjects using periodic and continuous fMRI sequences.Spectral analysis revealed differences of only 10 to 18% between EEG recorded in the scanner without fMRI and the corrected EEG. Ninety-nine percent of spikewaves (median 74 microV) added to the recordings were identified in the correctedEEG compared to 12% in the uncorrected EEG. The median noise after artifactreduction was 8 microV. All these measures indicate that most of the artifact wasremoved, with minimal EEG distortion. Using this recording system and artifactreduction method, we have demonstrated that simultaneous EEG/fMRI studies are forthe first time possible, extending the scope of EEG/fMRI studies considerably.","A method for removing imaging artifact from continuous EEG recorded duringfunctional MRI."
"Kohlschutter syndrome is a rare neurodegenerative disorder presenting withintractable seizures, developmental regression and characteristic hypoplasticdental enamel indicative of amelogenesis imperfecta. We report a new family with two affected siblings.","Kohlschutter syndrome in siblings."
"Statistical analysis of neuroimages is commonly approached with intergroupcomparisons made by repeated application of univariate or multivariate testsperformed on the set of the regions of interest sampled in the acquired images.The use of such large numbers of tests requires application of techniques forcorrection for multiple comparisons. Standard multiple comparison adjustments(such as the Bonferroni) may be overly conservative when data are correlatedand/or not normally distributed. Resampling-based step-down procedures thatsuccessfully account for unknown correlation structures in the data have recentlybeen introduced. We combined resampling step-down procedures with the MinimumVariance Adaptive method, which allows selection of an optimal test statisticfrom a predefined class of statistics for the data under analysis. As shown insimulation studies and analysis of autoradiographic data, the combined technique exhibits a significant increase in statistical power, even for small sample sizes(n = 8, 9, 10).","Selection of an adaptive test statistic for use with multiple comparison analysesof neuroimaging data."
"The synthetic DOX-LNA conjugate was characterized by proton nuclear magneticresonance and mass spectrometry. In addition, the purity of the conjugate wasanalyzed by reverse-phase high-performance liquid chromatography. The cellularuptake, intracellular distribution, and cytotoxicity of DOX-LNA were assessed by flow cytometry, fluorescence microscopy, liquid chromatography/electrosprayionization tandem mass spectrometry, and the tetrazolium dye assay using the invitro cell models. The DOX-LNA conjugate showed substantially highertumor-specific cytotoxicity compared with DOX.","Conjugation with alpha-linolenic acid improves cancer cell uptake andcytotoxicity of doxorubicin."
"Our objective was to compare three different methods of blood pressuremeasurement through the results of a controlled study aimed at comparing theantihypertensive effects of trandolapril and losartan. Two hundred andtwenty-nine hypertensive patients were randomized in a double-blind parallelgroup study. After a 3-week placebo period, they received either 2 mgtrandolapril or 50 mg losartan once daily for 6 weeks. At the end of both placeboand active treatment periods, three methods of blood pressure measurement wereused: a) office blood pressure (three consecutive measurements); b) home selfblood pressure measurements (SBPM), consisting of three consecutive measurements performed at home in the morning and in the evening for 7 consecutive days; andc) ambulatory blood pressure measurements (ABPM), 24-h BP recordings with threemeasurements per hour. Of the 229 patients, 199 (87%) performed at least 12 validSBPM measurements during both placebo and treatment periods, whereas only 160(70%) performed good quality 24-h ABPM recordings during both periods (P <.0001). One hundred-forty patients performed the three methods of measurementwell. At baseline and with treatment, agreement between office measurements andABPM or SBPM was weak. Conversely, there was a good agreement between ABPM andSBPM. The mean difference (SBP/DBP) between ABPM and SBPM was 4.6 +/- 10.4/3.5+/- 7.1 at baseline and 3.5 +/- 10.0/4.0 +/- 7.0 at the end of the treatmentperiod. The correlation between SBPM and ABPM expressed by the r coefficient and the P values were the following: at baseline 0.79/0.70 (< 0.001/< .0001), withactive treatment 0.74/0.69 (0.0001/.0001). Hourly and 24-h reproducibility ofblood pressure response was quantified by the standard deviation of BP response. Compared with office blood pressure, both global and hourly SBPM responsesexhibited a lower standard deviation. Hourly reproducibility of SBPM response(10.8 mm Hg/6.9 mm Hg) was lower than hourly reproducibility of ABPM response(15.6 mm Hg/11.9 mm Hg). In conclusion, SBPM was easier to perform than ABPM.There was a good agreement between these two methods whereas concordance between SBPM or ABPM and office measurements was weak. As hourly reproducibility of SBPM response is better than reproducibility of both hourly ABPM and office BPresponse, SBPM seems to be the most appropriate method for evaluating residualantihypertensive effect.","Comparison of three blood pressure measurement methods for the evaluation of two antihypertensive drugs: feasibility, agreement, and reproducibility of bloodpressure response."
"We conducted a phase II study to assess the efficacy and tolerability ofirinotecan and cisplatin as salvage chemotherapy in patients with advancedgastric adenocarcinoma, progressing after both 5-fluorouracil (5-FU)- andtaxane-containing regimen. Patients with measurable metastatic gastric cancer,progressive after previous chemotherapy that consisted either of a 5-FU-basedregimen followed by second-line chemotherapy containing taxanes or a 5-FU andtaxane combination were treated with irinotecan and cisplatin. Irinotecan 70mg/m(2) was administered on day 1 and day 15; cisplatin 70 mg/m(2) wasadministered on day 1. Treatment was repeated every 4 weeks. For 28 patientsregistered, a total of 94 chemotherapy cycles were administered. The patients'median age was 51 years and 27 (96%) had an ECOG performance status of 1 orbelow. In an intent-to-treat analysis, seven patients (25%) achieved a partialresponse, which maintained for 6.3 months (95% confidence interval 6.2-6.4months). The median progression-free and overall survival were 3.5 and 5.6months, respectively. Major toxic effects included nausea, diarrhea andneurotoxicity. Although there was one possible treatment-related death, toxicity profiles were generally predictable and manageable. We conclude that irinotecanand cisplatin is an active combination for patients with metastatic gastriccancer in whom previous chemotherapy with 5-FU and taxanes has failed.","Salvage chemotherapy with irinotecan and cisplatin in patients with metastaticgastric cancer failing both 5-fluorouracil and taxanes."

In [175]:
import pyspark.sql.functions as F

pubMedDF = spark.read\
                .option("header", "true")\
                .csv("./pubmed-sample.csv")\
                .filter("AB IS NOT null")\
                .withColumnRenamed("AB", "text")\
                .drop("TI")

pubMedDF.show(truncate=100)

+----------------------------------------------------------------------------------------------------+
|                                                                                                text|
+----------------------------------------------------------------------------------------------------+
|The human KCNJ9 (Kir 3.3, GIRK3) is a member of the G-protein-activated inwardly rectifying potas...|
|BACKGROUND: At present, it is one of the most important issues for the treatment of breast cancer...|
|OBJECTIVE: To investigate the relationship between preoperative atrialfibrillation and early and ...|
|Combined EEG/fMRI recording has been used to localize the generators of EEGevents and to identify...|
|Kohlschutter syndrome is a rare neurodegenerative disorder presenting withintractable seizures, d...|
|Statistical analysis of neuroimages is commonly approached with intergroupcomparisons made by rep...|
|The synthetic DOX-LNA conjugate was characterized by proton nuclear magneticresonance and mass sp...|
|Our objective was to compare three different methods of blood pressuremeasurement through the res...|
|We conducted a phase II study to assess the efficacy and tolerability ofirinotecan and cisplatin ...|
|"Monomeric sarcosine oxidase (MSOX) is a flavoenzyme that catalyzes the oxidative demethylation o...|
|We presented the tachinid fly Exorista japonica with moving host models: afreeze-dried larva of t...|
|The literature dealing with the water conducting properties of sapwood xylem intrees is inconsist...|
|A novel approach to synthesize chitosan-O-isopropyl-5'-O-d4T monophosphateconjugate was developed...|
|An HPLC-ESI-MS-MS method has been developed for the quantitative determination offour diterpenoid...|
|The localizing and lateralizing values of eye and head ictal deviations duringfrontal lobe seizur...|
|OBJECTIVE: To evaluate the effectiveness and acceptability of expectantmanagement of induced and ...|
|For the construction of new combinatorial libraries, a lead compound was created by replacing the...|
|We report the results of a screen for genetic association with urinary arsenicmetabolite levels i...|
|Intraparenchymal pericatheter cyst is rarely reported. Obstruction in theventriculoperitoneal shu...|
|It is known that patients with Klinefelter's syndrome are inclined to developconcomitant malignan...|
+----------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [0]:
# let's create a file which will includes the entities we want to find
# it will be stored in content directory
# It is used for the EXACT WORD/WORDS we're looking for

entities = ['KCNJ9', 'GIRK', 'diabates mellitus', 'nucleotide polymorphisms']

with open('clinical_entities.txt', 'w') as f:
    for i in entities:
        f.write(i+'\n')

In [0]:
entity_extractor = TextMatcher()\
                    .setInputCols(['document', 'token'])\
                    .setOutputCol('matched_entities')\
                    .setEntities('clinical_entities.txt')

In [0]:
nlpPipeline = Pipeline(stages=[
 documentAssembler, 
 tokenizer,
 entity_extractor
 ])

empty_df = spark.createDataFrame([['']]).toDF("text")

pipelineModel = nlpPipeline.fit(empty_df)

In [182]:
pubMedDF.count()
# it has 7.5K rows

7537

In [0]:
result = pipelineModel.transform(pubMedDF.limit(10))

In [183]:
pubMedDF.select('text').take(1)

[Row(text='The human KCNJ9 (Kir 3.3, GIRK3) is a member of the G-protein-activated inwardly rectifying potassium (GIRK) channel family. Here we describe the genomicorganization of the KCNJ9 locus on chromosome 1q21-23 as a candidate gene forType II diabetes mellitus in the Pima Indian population. The gene spansapproximately 7.6 kb and contains one noncoding and two coding exons separated byapproximately 2.2 and approximately 2.6 kb introns, respectively. We identified14 single nucleotide polymorphisms (SNPs), including one that predicts aVal366Ala substitution, and an 8 base-pair (bp) insertion/deletion. Ourexpression studies revealed the presence of the transcript in various humantissues including pancreas, and two major insulin-responsive tissues: fat andskeletal muscle. The characterization of the KCNJ9 gene should facilitate furtherstudies on the function of the KCNJ9 protein and allow evaluation of thepotential role of the locus in Type II diabetes.')]

In [181]:
result.select('matched_entities.result').take(1)

[Row(result=['KCNJ9', 'GIRK', 'KCNJ9', 'nucleotide polymorphisms', 'KCNJ9', 'KCNJ9'])]

In [184]:
result_df = result.select(F.explode(F.arrays_zip('matched_entities.result', 'matched_entities.begin',  'matched_entities.end')).alias("cols")) \
.select(F.expr("cols['0']").alias("matched_entities"),
        F.expr("cols['1']").alias("begin"),
        F.expr("cols['2']").alias("end")).toPandas()

result_df.head(10)

           matched_entities  begin  end
0                     KCNJ9     10   14
1                      GIRK    103  106
2                     KCNJ9    173  177
3  nucleotide polymorphisms    471  494
4                     KCNJ9    801  805
5                     KCNJ9    868  872

## RegexMatcher

In [0]:
rules = '''
renal\s\w+, followed by 'renal'
cardiac\s\w+, followed by 'cardiac'
'''

with open('regex_rules.txt', 'w') as f:
    
    f.write(rules)

In [186]:
documentAssembler = DocumentAssembler()\
.setInputCol("text")\
.setOutputCol("document")

regex_matcher = RegexMatcher()\
    .setInputCols('document')\
    .setStrategy("MATCH_ALL")\
    .setOutputCol("regex_matches")\
    .setExternalRules(path='./regex_rules.txt', delimiter=',')
    

nlpPipeline = Pipeline(stages=[
 documentAssembler, 
 regex_matcher
 ])

empty_df = spark.createDataFrame([['']]).toDF("text")

pipelineModel = nlpPipeline.fit(empty_df)

match_df = pipelineModel.transform(pubMedDF)

match_df.select('regex_matches.result').take(3)

[Row(result=[]),
 Row(result=[]),
 Row(result=['renal failure', 'cardiac surgery', 'cardiac surgery', 'cardiac surgical'])]

In [187]:
# Sadece regex iceren satirlari gormek istersek

match_df.select('text','regex_matches.result')\
.toDF('text','matches').filter(F.size('matches')>1)\
.show(truncate=50)

+--------------------------------------------------+--------------------------------------------------+
|                                              text|                                           matches|
+--------------------------------------------------+--------------------------------------------------+
|OBJECTIVE: To investigate the relationship betw...|[renal failure, cardiac surgery, cardiac surger...|
|Aging is a physiological process that causes st...|                     [renal function, renal aging]|
|BACKGROUND: Left-sided inferior vena cava (IVC)...|          [renal surgery, renal mass, renal veins]|
|A successful kidney transplantation (Tx) offers...|                         [renal failure, renal Tx]|
|The transcription factor scleraxis has been imp...|[cardiac valves, cardiac fibroblasts, cardiac c...|
|Historically, the only surgical option for remo...|                        [renal mass, renal masses]|
|OBJECTIVES: To examine the clinical effectivene...|   [renal transplantation, renal transplantgroups]|
|The cardiac natriuretic peptides (NP) atrial na...|[renal mechanisms, renal function, cardiac natr...|
|Patients with chronic congestive heart failure ...|[cardiac remodeling, cardiac receptorswith, car...|
|OBJECTIVE: To discuss the long-term results of ...|       [cardiac insufficiency, cardiac infarction]|
|Bone loss and osteoporotic fractures are common...|     [cardiac transplant, cardiac transplantation]|
|The Clinical Guidelines Committee of the Europe...|[cardiac arrest, cardiac surgery, cardiac surge...|
|Superoxide anion contributes to the pathogenesi...|[renal hemodynamics, renal hemodynamics, renal ...|
|Macrophage-derived factor (MDF) is a lipophilic...|                    [renal glands, renal cortical]|
|Quantification of regional myocardial blood flo...|                 [cardiac disease, cardiac events]|
|Higher levels of long-chain n-3 polyunsaturated...|[cardiac arrest, cardiac arrest, cardiac arrest...|
|Well-known complications related to drug abuse ...|                [renal infarction, cardiac causes]|
|The renal glomerulus, the site of plasma ultraf...|              [renal glomerulus, renal epithelial]|
|OBJECTIVE: The rise in the number of implantati...|[cardiac pacemakers, cardiac pacemakers, cardia...|
|OBJECTIVES: To examine determinants of use of c...|          [cardiac procedures, cardiac procedures]|
+--------------------------------------------------+--------------------------------------------------+
only showing top 20 rows

In [188]:
match_df.printSchema()

root
 |-- text: string (nullable = true)
 |-- document: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- annotatorType: string (nullable = true)
 |    |    |-- begin: integer (nullable = false)
 |    |    |-- end: integer (nullable = false)
 |    |    |-- result: string (nullable = true)
 |    |    |-- metadata: map (nullable = true)
 |    |    |    |-- key: string
 |    |    |    |-- value: string (valueContainsNull = true)
 |    |    |-- embeddings: array (nullable = true)
 |    |    |    |-- element: float (containsNull = false)
 |-- regex_matches: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- annotatorType: string (nullable = true)
 |    |    |-- begin: integer (nullable = false)
 |    |    |-- end: integer (nullable = false)
 |    |    |-- result: string (nullable = true)
 |    |    |-- metadata: map (nullable = true)
 |    |    |    |-- key: string
 |    |    |    |-- value: string (valueContainsNull = true)
 |    |    |-- embeddings: array (nullable = true)
 |    |    |    |-- element: float (containsNull = false)

## Finisher

In [0]:
# It removes previous columns which is defined in pipeline and shows only the one which is defined in finisher
# Finisher: Once we have our NLP pipeline ready to go, we might want to use our annotation results somewhere else where it is easy to use. 
# The Finisher outputs annotation(s) values into a string.

In [0]:
finisher = Finisher()\
        .setInputCols(['regex_matches'])\
        .setIncludeMetadata(False) # set False to remove metadata

In [193]:
nlpPipeline = Pipeline(stages=[
 documentAssembler, 
 regex_matcher,
 finisher
 ])

empty_df = spark.createDataFrame([['']]).toDF("text")

pipelineModel = nlpPipeline.fit(empty_df)

match_df = pipelineModel.transform(pubMedDF)

match_df.show(truncate = 50)

+--------------------------------------------------+--------------------------------------------------+
|                                              text|                            finished_regex_matches|
+--------------------------------------------------+--------------------------------------------------+
|The human KCNJ9 (Kir 3.3, GIRK3) is a member of...|                                                []|
|BACKGROUND: At present, it is one of the most i...|                                                []|
|OBJECTIVE: To investigate the relationship betw...|[renal failure, cardiac surgery, cardiac surger...|
|Combined EEG/fMRI recording has been used to lo...|                                                []|
|Kohlschutter syndrome is a rare neurodegenerati...|                                                []|
|Statistical analysis of neuroimages is commonly...|                                                []|
|The synthetic DOX-LNA conjugate was characteriz...|                                                []|
|Our objective was to compare three different me...|                                                []|
|We conducted a phase II study to assess the eff...|                                                []|
|"Monomeric sarcosine oxidase (MSOX) is a flavoe...|                                                []|
|We presented the tachinid fly Exorista japonica...|                                                []|
|The literature dealing with the water conductin...|                                                []|
|A novel approach to synthesize chitosan-O-isopr...|                                                []|
|An HPLC-ESI-MS-MS method has been developed for...|                                                []|
|The localizing and lateralizing values of eye a...|                                                []|
|OBJECTIVE: To evaluate the effectiveness and ac...|                                                []|
|For the construction of new combinatorial libra...|                                                []|
|We report the results of a screen for genetic a...|                                                []|
|Intraparenchymal pericatheter cyst is rarely re...|                                                []|
|It is known that patients with Klinefelter's sy...|                                                []|
+--------------------------------------------------+--------------------------------------------------+
only showing top 20 rows

In [194]:
match_df.printSchema()
# it is very simple now

root
 |-- text: string (nullable = true)
 |-- finished_regex_matches: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [196]:
# If we want to filter out the empty matches

match_df.filter(F.size('finished_regex_matches')>=1).show(truncate = 50)

+--------------------------------------------------+--------------------------------------------------+
|                                              text|                            finished_regex_matches|
+--------------------------------------------------+--------------------------------------------------+
|OBJECTIVE: To investigate the relationship betw...|[renal failure, cardiac surgery, cardiac surger...|
|Successful renal transplantation is associated ...|                           [renal transplantation]|
|Although inhaled and intranasal corticosteroids...|                               [renal suppression]|
|Aging is a physiological process that causes st...|                     [renal function, renal aging]|
|Tight junctions form the major paracellular bar...|                                     [renal tight]|
|BACKGROUND: Left-sided inferior vena cava (IVC)...|          [renal surgery, renal mass, renal veins]|
|A successful kidney transplantation (Tx) offers...|                         [renal failure, renal Tx]|
|The transcription factor scleraxis has been imp...|[cardiac valves, cardiac fibroblasts, cardiac c...|
|OBJECTIVE: Although present treatment programs ...|                                      [renal cell]|
|"The aim of this study was to evaluate and comp...|                                      [renal cell]|
|Historically, the only surgical option for remo...|                        [renal mass, renal masses]|
|Patients suffering from sleep apnea syndrome ar...|                                     [cardiac and]|
|BACKGROUND: Patients with chronic renal failure...|                                   [renal failure]|
|The phosphorylation of glucose, a crucial step ...|                                   [renal tumours]|
|The effects of glucose, sorbitol and xylitol in...|                                  [renal filtered]|
|INTRODUCTION AND OBJECTIVES: Endothelial dysfun...|                                 [cardiac disease]|
|OBJECTIVES: To examine the clinical effectivene...|   [renal transplantation, renal transplantgroups]|
|Cardiovascular event rates are markedly increas...|                                  [renal function]|
|The kidney (11-HSD2 or 11-HSDK) isozyme of 11be...|                                      [renal cell]|
|The cardiac natriuretic peptides (NP) atrial na...|[renal mechanisms, renal function, cardiac natr...|
+--------------------------------------------------+--------------------------------------------------+
only showing top 20 rows

## LightPipeline

LightPipelines are Spark NLP specific Pipelines, equivalent to Spark ML Pipeline, but meant to **deal with smaller amounts of data**. They’re useful working with small datasets, debugging results, or when running either training or prediction from an API that serves one-off requests.

Spark NLP LightPipelines are Spark ML pipelines converted into a single machine but the multi-threaded task, becoming more than 10x times faster for smaller amounts of data (small is relative, but 50k sentences are roughly a good maximum). To use them, we simply plug in a trained (fitted) pipeline and then annotate a plain text. We don't even need to convert the input text to DataFrame in order to feed it into a pipeline that's accepting DataFrame as an input in the first place. This feature would be quite useful when it comes to getting a prediction for a few lines of text from a trained ML model.

It is nearly 20x faster than using Spark ML Pipeline

In [0]:
# Note we re-run the pipelineModel which inludes 'lemma', 'stem' etc above so the the very last one we're processing which is coming 
# from regex_matches. Please pya attention that

In [0]:
from sparknlp.base import LightPipeline

light_model = LightPipeline(pipelineModel)

light_result = light_model.annotate("John and Peter are brothers. However they don't support each other that much")

In [205]:
light_result.keys()

dict_keys(['document', 'token', 'stem', 'lemma'])

In [208]:
list(zip(light_result['token'], light_result['stem'], light_result['lemma']))

[('John', 'john', 'John'),
 ('and', 'and', 'and'),
 ('Peter', 'peter', 'Peter'),
 ('are', 'ar', 'be'),
 ('brothers', 'brother', 'brother'),
 ('.', '.', '.'),
 ('However', 'howev', 'However'),
 ('they', 'thei', 'they'),
 ("don't", "don't", "don't"),
 ('support', 'support', 'support'),
 ('each', 'each', 'each'),
 ('other', 'other', 'other'),
 ('that', 'that', 'that'),
 ('much', 'much', 'much')]

In [210]:
light_result = light_model.fullAnnotate("John and Peter are brothers. However they don't support each other that much")
light_result

[{'document': [Annotation(document, 0, 75, John and Peter are brothers. However they don't support each other that much, {})],
  'lemma': [Annotation(token, 0, 3, John, {'sentence': '0'}),
   Annotation(token, 5, 7, and, {'sentence': '0'}),
   Annotation(token, 9, 13, Peter, {'sentence': '0'}),
   Annotation(token, 15, 17, be, {'sentence': '0'}),
   Annotation(token, 19, 26, brother, {'sentence': '0'}),
   Annotation(token, 27, 27, ., {'sentence': '0'}),
   Annotation(token, 29, 35, However, {'sentence': '0'}),
   Annotation(token, 37, 40, they, {'sentence': '0'}),
   Annotation(token, 42, 46, don't, {'sentence': '0'}),
   Annotation(token, 48, 54, support, {'sentence': '0'}),
   Annotation(token, 56, 59, each, {'sentence': '0'}),
   Annotation(token, 61, 65, other, {'sentence': '0'}),
   Annotation(token, 67, 70, that, {'sentence': '0'}),
   Annotation(token, 72, 75, much, {'sentence': '0'})],
  'stem': [Annotation(token, 0, 3, john, {'sentence': '0'}),
   Annotation(token, 5, 7, and, {'sentence': '0'}),
   Annotation(token, 9, 13, peter, {'sentence': '0'}),
   Annotation(token, 15, 17, ar, {'sentence': '0'}),
   Annotation(token, 19, 26, brother, {'sentence': '0'}),
   Annotation(token, 27, 27, ., {'sentence': '0'}),
   Annotation(token, 29, 35, howev, {'sentence': '0'}),
   Annotation(token, 37, 40, thei, {'sentence': '0'}),
   Annotation(token, 42, 46, don't, {'sentence': '0'}),
   Annotation(token, 48, 54, support, {'sentence': '0'}),
   Annotation(token, 56, 59, each, {'sentence': '0'}),
   Annotation(token, 61, 65, other, {'sentence': '0'}),
   Annotation(token, 67, 70, that, {'sentence': '0'}),
   Annotation(token, 72, 75, much, {'sentence': '0'})],
  'token': [Annotation(token, 0, 3, John, {'sentence': '0'}),
   Annotation(token, 5, 7, and, {'sentence': '0'}),
   Annotation(token, 9, 13, Peter, {'sentence': '0'}),
   Annotation(token, 15, 17, are, {'sentence': '0'}),
   Annotation(token, 19, 26, brothers, {'sentence': '0'}),
   Annotation(token, 27, 27, ., {'sentence': '0'}),
   Annotation(token, 29, 35, However, {'sentence': '0'}),
   Annotation(token, 37, 40, they, {'sentence': '0'}),
   Annotation(token, 42, 46, don't, {'sentence': '0'}),
   Annotation(token, 48, 54, support, {'sentence': '0'}),
   Annotation(token, 56, 59, each, {'sentence': '0'}),
   Annotation(token, 61, 65, other, {'sentence': '0'}),
   Annotation(token, 67, 70, that, {'sentence': '0'}),
   Annotation(token, 72, 75, much, {'sentence': '0'})]}]

In [0]:
### First NoteBook Can Be Seen From Here to Below

## Using Pretrained Pipelines

https://github.com/JohnSnowLabs/spark-nlp-models

In [0]:
from sparknlp.pretrained import PretrainedPipeline

In [2]:
pipeline = PretrainedPipeline('explain_document_ml', lang='en')

NameError: ignored

In [0]:
testDoc = """French author who helped pioner the science-fiction genre. \
Verne wrate about space, air, and underwater travel before navigable aircrast and \
practical submarines were invented, and before any means of space travel had been devised."""

In [0]:
testDoc

'French author who helped pioner the science-fiction genre. Verne wrate about space, air, and underwater travel before navigable aircrast and practical submarines were invented, and before any means of space travel had been devised.'

In [0]:
%%time

result = pipeline.annotate(testDoc)

CPU times: user 34.9 ms, sys: 9.77 ms, total: 44.6 ms
Wall time: 2.26 s

In [0]:
result.keys()

dict_keys(['document', 'spell', 'pos', 'lemmas', 'token', 'stems', 'sentence'])

In [0]:
result['sentence']

['French author who helped pioner the science-fiction genre.',
 'Verne wrate about space, air, and underwater travel before navigable aircrast and practical submarines were invented, and before any means of space travel had been devised.']

In [0]:
result['token']

['French',
 'author',
 'who',
 'helped',
 'pioner',
 'the',
 'science-fiction',
 'genre',
 '.',
 'Verne',
 'wrate',
 'about',
 'space',
 ',',
 'air',
 ',',
 'and',
 'underwater',
 'travel',
 'before',
 'navigable',
 'aircrast',
 'and',
 'practical',
 'submarines',
 'were',
 'invented',
 ',',
 'and',
 'before',
 'any',
 'means',
 'of',
 'space',
 'travel',
 'had',
 'been',
 'devised',
 '.']

In [0]:
list(zip(result['token'], result['pos']))

[('French', 'JJ'),
 ('author', 'NN'),
 ('who', 'WP'),
 ('helped', 'VBD'),
 ('pioner', 'NN'),
 ('the', 'DT'),
 ('science-fiction', 'NN'),
 ('genre', 'NN'),
 ('.', '.'),
 ('Verne', 'NNP'),
 ('wrate', 'VBD'),
 ('about', 'IN'),
 ('space', 'NN'),
 (',', ','),
 ('air', 'NN'),
 (',', ','),
 ('and', 'CC'),
 ('underwater', 'JJ'),
 ('travel', 'NN'),
 ('before', 'IN'),
 ('navigable', 'JJ'),
 ('aircrast', 'NN'),
 ('and', 'CC'),
 ('practical', 'JJ'),
 ('submarines', 'NNS'),
 ('were', 'VBD'),
 ('invented', 'VBN'),
 (',', ','),
 ('and', 'CC'),
 ('before', 'IN'),
 ('any', 'DT'),
 ('means', 'NNS'),
 ('of', 'IN'),
 ('space', 'NN'),
 ('travel', 'NN'),
 ('had', 'VBD'),
 ('been', 'VBN'),
 ('devised', 'VBN'),
 ('.', '.')]

In [0]:
list(zip(result['token'], result['lemmas'], result['stems'], result['spell']))

[('French', 'French', 'french', 'French'),
 ('author', 'author', 'author', 'author'),
 ('who', 'who', 'who', 'who'),
 ('helped', 'help', 'help', 'helped'),
 ('pioner', 'pioneer', 'pioneer', 'pioneer'),
 ('the', 'the', 'the', 'the'),
 ('science-fiction', 'sciencefiction', 'sciencefict', 'sciencefiction'),
 ('genre', 'genre', 'genr', 'genre'),
 ('.', '.', '.', '.'),
 ('Verne', 'Verne', 'vern', 'Verne'),
 ('wrate', 'write', 'wrote', 'wrote'),
 ('about', 'about', 'about', 'about'),
 ('space', 'space', 'space', 'space'),
 (',', ',', ',', ','),
 ('air', 'air', 'air', 'air'),
 (',', ',', ',', ','),
 ('and', 'and', 'and', 'and'),
 ('underwater', 'underwater', 'underwat', 'underwater'),
 ('travel', 'travel', 'travel', 'travel'),
 ('before', 'before', 'befor', 'before'),
 ('navigable', 'navigable', 'navig', 'navigable'),
 ('aircrast', 'aircraft', 'aircraft', 'aircraft'),
 ('and', 'and', 'and', 'and'),
 ('practical', 'practical', 'practic', 'practical'),
 ('submarines', 'submarine', 'submarin', 'submarines'),
 ('were', 'be', 'were', 'were'),
 ('invented', 'invent', 'invent', 'invented'),
 (',', ',', ',', ','),
 ('and', 'and', 'and', 'and'),
 ('before', 'before', 'befor', 'before'),
 ('any', 'any', 'ani', 'any'),
 ('means', 'mean', 'mean', 'means'),
 ('of', 'of', 'of', 'of'),
 ('space', 'space', 'space', 'space'),
 ('travel', 'travel', 'travel', 'travel'),
 ('had', 'have', 'had', 'had'),
 ('been', 'be', 'been', 'been'),
 ('devised', 'devise', 'devis', 'devised'),
 ('.', '.', '.', '.')]

In [0]:
df = pd.DataFrame({"token":result['token'],
                   "corrected":result['spell'],
                   'POS':result['pos'],
                   'lemmas':result['lemmas'],
                   'stems':result['stems']}) 
df

              token       corrected  POS          lemmas        stems
0            French          French   JJ          French       french
1            author          author   NN          author       author
2               who             who   WP             who          who
3            helped          helped  VBD            help         help
4            pioner         pioneer   NN         pioneer      pioneer
5               the             the   DT             the          the
6   science-fiction  sciencefiction   NN  sciencefiction  sciencefict
7             genre           genre   NN           genre         genr
8                 .               .    .               .            .
9             Verne           Verne  NNP           Verne         vern
10            wrate           wrote  VBD           write        wrote
11            about           about   IN           about        about
12            space           space   NN           space        space
13                ,               ,    ,               ,            ,
14              air             air   NN             air          air
15                ,               ,    ,               ,            ,
16              and             and   CC             and          and
17       underwater      underwater   JJ      underwater     underwat
18           travel          travel   NN          travel       travel
19           before          before   IN          before        befor
20        navigable       navigable   JJ       navigable        navig
21         aircrast        aircraft   NN        aircraft     aircraft
22              and             and   CC             and          and
23        practical       practical   JJ       practical      practic
24       submarines      submarines  NNS       submarine     submarin
25             were            were  VBD              be         were
26         invented        invented  VBN          invent       invent
27                ,               ,    ,               ,            ,
28              and             and   CC             and          and
29           before          before   IN          before        befor
30              any             any   DT             any          ani
31            means           means  NNS            mean         mean
32               of              of   IN              of           of
33            space           space   NN           space        space
34           travel          travel   NN          travel       travel
35              had             had  VBD            have          had
36             been            been  VBN              be         been
37          devised         devised  VBN          devise        devis
38                .               .    .               .            .

## Explain Document DL

In [0]:
pipeline_dl = PretrainedPipeline('explain_document_dl', 'en')

explain_document_dl download started this may take some time.
Approx size to download 168.4 MB
[OK!]

In [0]:
%%time
result = pipeline_dl.annotate(testDoc)

CPU times: user 33.1 ms, sys: 12.7 ms, total: 45.8 ms
Wall time: 724 ms

In [0]:
result.keys()

dict_keys(['entities', 'stem', 'checked', 'lemma', 'document', 'pos', 'token', 'ner', 'embeddings', 'sentence'])

In [0]:
result['entities']

['French', 'Verne']

In [0]:
df = pd.DataFrame({"token":result['token'],
                   "ner_label":result['ner'],
                   "spell_corrected":result['checked'],
                   'POS':result['pos'],
                   'lemma':result['lemma'],
                   'stem':result['stem']}) 
df

              token ner_label spell_corrected  POS           lemma         stem
0            French    B-MISC          French   JJ          French       french
1            author         O          author   NN          author       author
2               who         O             who   WP             who          who
3            helped         O          helped  VBD            help         help
4            pioner         O         pioneer   NN         pioneer      pioneer
5               the         O             the   DT             the          the
6   science-fiction         O  sciencefiction   NN  sciencefiction  sciencefict
7             genre         O           genre   NN           genre         genr
8                 .         O               .    .               .            .
9             Verne     B-PER           Verne  NNP           Verne         vern
10            wrate         O           wrote  VBD           write        wrote
11            about         O           about   IN           about        about
12            space         O           space   NN           space        space
13                ,         O               ,    ,               ,            ,
14              air         O             air   NN             air          air
15                ,         O               ,    ,               ,            ,
16              and         O             and   CC             and          and
17       underwater         O      underwater   JJ      underwater     underwat
18           travel         O          travel   NN          travel       travel
19           before         O          before   IN          before        befor
20        navigable         O       navigable   JJ       navigable        navig
21         aircrast         O        aircraft   NN        aircraft     aircraft
22              and         O             and   CC             and          and
23        practical         O       practical   JJ       practical      practic
24       submarines         O      submarines  NNS       submarine     submarin
25             were         O            were  VBD              be         were
26         invented         O        invented  VBN          invent       invent
27                ,         O               ,    ,               ,            ,
28              and         O             and   CC             and          and
29           before         O          before   IN          before        befor
30              any         O             any   DT             any          ani
31            means         O           means  NNS            mean         mean
32               of         O              of   IN              of           of
33            space         O           space   NN           space        space
34           travel         O          travel   NN          travel       travel
35              had         O             had  VBD            have          had
36             been         O            been  VBN              be         been
37          devised         O         devised  VBN          devise        devis
38                .         O               .    .               .            .

## Spell Checking

In [0]:
spell_checker = PretrainedPipeline('check_spelling', 'en')

check_spelling download started this may take some time.
Approx size to download 892.6 KB
[OK!]

In [0]:
result = spell_checker.annotate(testDoc)

In [0]:
result.keys()

dict_keys(['document', 'sentence', 'token', 'checked'])

In [0]:
list(zip(result['token'], result['checked']))

[('French', 'French'),
 ('author', 'author'),
 ('who', 'who'),
 ('helped', 'helped'),
 ('pioner', 'pioneer'),
 ('the', 'the'),
 ('science-fiction', 'science-fiction'),
 ('genre', 'genre'),
 ('.', '.'),
 ('Verne', 'Vern'),
 ('wrate', 'wrote'),
 ('about', 'about'),
 ('space', 'space'),
 (',', ','),
 ('air', 'air'),
 (',', ','),
 ('and', 'and'),
 ('underwater', 'underwater'),
 ('travel', 'travel'),
 ('before', 'before'),
 ('navigable', 'navigable'),
 ('aircrast', 'aircraft'),
 ('and', 'and'),
 ('practical', 'practical'),
 ('submarines', 'submarines'),
 ('were', 'were'),
 ('invented', 'invented'),
 (',', ','),
 ('and', 'and'),
 ('before', 'before'),
 ('any', 'any'),
 ('means', 'means'),
 ('of', 'of'),
 ('space', 'space'),
 ('travel', 'travel'),
 ('had', 'had'),
 ('been', 'been'),
 ('devised', 'devised'),
 ('.', '.')]

## Parsing a list of texts

In [0]:
testDoc_list = [ 'French author who helped pioner the science-fiction genre.',
'Verne wrate about space, air, and underwater travel before navigable aircrast',
'Practical submarines were invented, and before any means of space travel had been devised.']

In [0]:
result_list = pipeline.annotate(testDoc_list)

In [0]:
len(result_list)

3

In [0]:
result_list[0]

{'document': ['French author who helped pioner the science-fiction genre.'],
 'lemmas': ['French',
  'author',
  'who',
  'help',
  'pioneer',
  'the',
  'sciencefiction',
  'genre',
  '.'],
 'pos': ['JJ', 'NN', 'WP', 'VBD', 'NN', 'DT', 'NN', 'NN', '.'],
 'sentence': ['French author who helped pioner the science-fiction genre.'],
 'spell': ['French',
  'author',
  'who',
  'helped',
  'pioneer',
  'the',
  'sciencefiction',
  'genre',
  '.'],
 'stems': ['french',
  'author',
  'who',
  'help',
  'pioneer',
  'the',
  'sciencefict',
  'genr',
  '.'],
 'token': ['French',
  'author',
  'who',
  'helped',
  'pioner',
  'the',
  'science-fiction',
  'genre',
  '.']}

## Using fullAnnotate to get more details

In [0]:
text = 'Peter Parker is a nice guy and lives in New York'

In [0]:
detailed_result = pipeline_dl.fullAnnotate(text)

In [0]:
detailed_result

[{'checked': [Annotation(token, 0, 4, Peter, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 6, 11, Parker, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 13, 14, is, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 16, 16, a, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 18, 21, nice, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 23, 25, guy, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 27, 29, and, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 31, 35, lives, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 37, 38, in, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 40, 42, New, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 44, 47, York, {'confidence': '1.0', 'sentence': '0'})],
  'document': [Annotation(document, 0, 47, Peter Parker is a nice guy and lives in New York, {})],
  'embeddings': [Annotation(word_embeddings, 0, 4, Peter, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'Peter', 'sentence': '0'}),
   Annotation(word_embeddings, 6, 11, Parker, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'Parker', 'sentence': '0'}),
   Annotation(word_embeddings, 13, 14, is, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'is', 'sentence': '0'}),
   Annotation(word_embeddings, 16, 16, a, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'a', 'sentence': '0'}),
   Annotation(word_embeddings, 18, 21, nice, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'nice', 'sentence': '0'}),
   Annotation(word_embeddings, 23, 25, guy, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'guy', 'sentence': '0'}),
   Annotation(word_embeddings, 27, 29, and, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'and', 'sentence': '0'}),
   Annotation(word_embeddings, 31, 35, lives, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'lives', 'sentence': '0'}),
   Annotation(word_embeddings, 37, 38, in, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'in', 'sentence': '0'}),
   Annotation(word_embeddings, 40, 42, New, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'New', 'sentence': '0'}),
   Annotation(word_embeddings, 44, 47, York, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'York', 'sentence': '0'})],
  'entities': [Annotation(chunk, 0, 11, Peter Parker, {'entity': 'PER', 'sentence': '0', 'chunk': '0'}),
   Annotation(chunk, 40, 47, New York, {'entity': 'LOC', 'sentence': '0', 'chunk': '1'})],
  'lemma': [Annotation(token, 0, 4, Peter, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 6, 11, Parker, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 13, 14, be, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 16, 16, a, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 18, 21, nice, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 23, 25, guy, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 27, 29, and, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 31, 35, life, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 37, 38, in, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 40, 42, New, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 44, 47, York, {'confidence': '1.0', 'sentence': '0'})],
  'ner': [Annotation(named_entity, 0, 4, B-PER, {'word': 'Peter'}),
   Annotation(named_entity, 6, 11, I-PER, {'word': 'Parker'}),
   Annotation(named_entity, 13, 14, O, {'word': 'is'}),
   Annotation(named_entity, 16, 16, O, {'word': 'a'}),
   Annotation(named_entity, 18, 21, O, {'word': 'nice'}),
   Annotation(named_entity, 23, 25, O, {'word': 'guy'}),
   Annotation(named_entity, 27, 29, O, {'word': 'and'}),
   Annotation(named_entity, 31, 35, O, {'word': 'lives'}),
   Annotation(named_entity, 37, 38, O, {'word': 'in'}),
   Annotation(named_entity, 40, 42, B-LOC, {'word': 'New'}),
   Annotation(named_entity, 44, 47, I-LOC, {'word': 'York'})],
  'pos': [Annotation(pos, 0, 4, NNP, {'word': 'Peter'}),
   Annotation(pos, 6, 11, NNP, {'word': 'Parker'}),
   Annotation(pos, 13, 14, VBZ, {'word': 'is'}),
   Annotation(pos, 16, 16, DT, {'word': 'a'}),
   Annotation(pos, 18, 21, JJ, {'word': 'nice'}),
   Annotation(pos, 23, 25, NN, {'word': 'guy'}),
   Annotation(pos, 27, 29, CC, {'word': 'and'}),
   Annotation(pos, 31, 35, NNS, {'word': 'lives'}),
   Annotation(pos, 37, 38, IN, {'word': 'in'}),
   Annotation(pos, 40, 42, NNP, {'word': 'New'}),
   Annotation(pos, 44, 47, NNP, {'word': 'York'})],
  'sentence': [Annotation(document, 0, 47, Peter Parker is a nice guy and lives in New York, {'sentence': '0'})],
  'stem': [Annotation(token, 0, 4, peter, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 6, 11, parker, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 13, 14, i, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 16, 16, a, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 18, 21, nice, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 23, 25, gui, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 27, 29, and, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 31, 35, live, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 37, 38, in, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 40, 42, new, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 44, 47, york, {'confidence': '1.0', 'sentence': '0'})],
  'token': [Annotation(token, 0, 4, Peter, {'sentence': '0'}),
   Annotation(token, 6, 11, Parker, {'sentence': '0'}),
   Annotation(token, 13, 14, is, {'sentence': '0'}),
   Annotation(token, 16, 16, a, {'sentence': '0'}),
   Annotation(token, 18, 21, nice, {'sentence': '0'}),
   Annotation(token, 23, 25, guy, {'sentence': '0'}),
   Annotation(token, 27, 29, and, {'sentence': '0'}),
   Annotation(token, 31, 35, lives, {'sentence': '0'}),
   Annotation(token, 37, 38, in, {'sentence': '0'}),
   Annotation(token, 40, 42, New, {'sentence': '0'}),
   Annotation(token, 44, 47, York, {'sentence': '0'})]}]

In [0]:
detailed_result[0]['entities']

[Annotation(chunk, 0, 11, Peter Parker, {'entity': 'PER', 'sentence': '0', 'chunk': '0'}),
 Annotation(chunk, 40, 47, New York, {'entity': 'LOC', 'sentence': '0', 'chunk': '1'})]

In [0]:
detailed_result[0]['entities'][0]

Annotation(chunk, 0, 11, Peter Parker, {'entity': 'PER', 'sentence': '0', 'chunk': '0'})

In [0]:
# To reach the value we use .result method
detailed_result[0]['entities'][0].result

'Peter Parker'

In [0]:
detailed_result[0]['entities'][0].metadata['entity']

'PER'

In [0]:
chunks = []
entities = []

for n in detailed_result[0]['entities']:
    chunks.append(n.result)
    entities.append(n.metadata['entity'])

df = pd.DataFrame({'chunks':chunks, 'entities':entities})

In [0]:
df

    sent_id   token  start  end  pos    ner
0         0   Peter      0    4  NNP  B-PER
1         0  Parker      6   11  NNP  I-PER
2         0      is     13   14  VBZ      O
3         0       a     16   16   DT      O
4         0    nice     18   21   JJ      O
5         0     guy     23   25   NN      O
6         0     and     27   29   CC      O
7         0   lives     31   35  NNS      O
8         0      in     37   38   IN      O
9         0     New     40   42  NNP  B-LOC
10        0    York     44   47  NNP  I-LOC

In [0]:
tuples = []

for x, y, z in zip(detailed_result[0]["token"], detailed_result[0]['pos'], detailed_result[0]['ner']):
    tuples.append((int(x.metadata['sentence']), x.result, x.begin, x.end, y.result, z.result))

df = pd.DataFrame(tuples, columns=['sent_id', 'token', 'start', 'end', 'pos', 'ner'])
df

    sent_id   token  start  end  pos    ner
0         0   Peter      0    4  NNP  B-PER
1         0  Parker      6   11  NNP  I-PER
2         0      is     13   14  VBZ      O
3         0       a     16   16   DT      O
4         0    nice     18   21   JJ      O
5         0     guy     23   25   NN      O
6         0     and     27   29   CC      O
7         0   lives     31   35  NNS      O
8         0      in     37   38   IN      O
9         0     New     40   42  NNP  B-LOC
10        0    York     44   47  NNP  I-LOC

## Use Pretrained **match_chunk** Pipeline for individual Noun Phrase

pipeline uses the regex pattern of `<DT>?<JJ>*<NN>+` (yani determinat (DT) etiher the or a might occur, one or more adjective (JJ) and noun (NN)

In [0]:
pipeline = PretrainedPipeline('match_chunks', 'en')

match_chunks download started this may take some time.
Approx size to download 4.3 MB
[OK!]

In [0]:
result = pipeline.annotate('The book has many chapters. The red car seems awesome')

In [0]:
result

{'chunk': ['The book', 'The red car'],
 'document': ['The book has many chapters. The red car seems awesome'],
 'pos': ['DT', 'NN', 'VBZ', 'JJ', 'NNS', '.', 'DT', 'JJ', 'NN', 'VBZ', 'JJ'],
 'sentence': ['The book has many chapters.', 'The red car seems awesome'],
 'token': ['The',
  'book',
  'has',
  'many',
  'chapters',
  '.',
  'The',
  'red',
  'car',
  'seems',
  'awesome']}

In [0]:
result = pipeline.annotate('the little brown pitty bird was trying to fly and the green dog was barking at it')

In [0]:
result

{'chunk': ['the little brown pitty bird', 'the green dog'],
 'document': ['the little brown pitty bird was trying to fly and the green dog was barking at it'],
 'pos': ['DT',
  'JJ',
  'JJ',
  'NN',
  'NN',
  'VBD',
  'VBG',
  'TO',
  'VB',
  'CC',
  'DT',
  'JJ',
  'NN',
  'VBD',
  'VBG',
  'IN',
  'PRP'],
 'sentence': ['the little brown pitty bird was trying to fly and the green dog was barking at it'],
 'token': ['the',
  'little',
  'brown',
  'pitty',
  'bird',
  'was',
  'trying',
  'to',
  'fly',
  'and',
  'the',
  'green',
  'dog',
  'was',
  'barking',
  'at',
  'it']}

In [0]:
result['chunk']

['the little brown pitty bird']

## Extract Exact Dates afrom Referential Date Phrahes

In [0]:
pipeline = PretrainedPipeline('match_datetime', 'en')

match_datetime download started this may take some time.
Approx size to download 12.9 KB
[OK!]

In [0]:
result = pipeline.annotate('I saw him yesterday and he told me that he would visit us next week.')

In [0]:
result

{'date': ['2020/04/27', '2020/04/19'],
 'document': ['I saw him yesterday and he told me that he would visit us next week.'],
 'sentence': ['I saw him yesterday and he told me that he would visit us next week.'],
 'token': ['I',
  'saw',
  'him',
  'yesterday',
  'and',
  'he',
  'told',
  'me',
  'that',
  'he',
  'would',
  'visit',
  'us',
  'next',
  'week',
  '.']}

In [0]:
result = pipeline.fullAnnotate('I saw him yesterday and he told me that he would visit us next week.')

In [0]:
result

[{'date': [Annotation(date, 58, 66, 2020/04/27, {'sentence': '0'}),
   Annotation(date, 10, 18, 2020/04/19, {'sentence': '0'})],
  'document': [Annotation(document, 0, 67, I saw him yesterday and he told me that he would visit us next week., {})],
  'sentence': [Annotation(document, 0, 67, I saw him yesterday and he told me that he would visit us next week., {'sentence': '0'})],
  'token': [Annotation(token, 0, 0, I, {'sentence': '0'}),
   Annotation(token, 2, 4, saw, {'sentence': '0'}),
   Annotation(token, 6, 8, him, {'sentence': '0'}),
   Annotation(token, 10, 18, yesterday, {'sentence': '0'}),
   Annotation(token, 20, 22, and, {'sentence': '0'}),
   Annotation(token, 24, 25, he, {'sentence': '0'}),
   Annotation(token, 27, 30, told, {'sentence': '0'}),
   Annotation(token, 32, 33, me, {'sentence': '0'}),
   Annotation(token, 35, 38, that, {'sentence': '0'}),
   Annotation(token, 40, 41, he, {'sentence': '0'}),
   Annotation(token, 43, 47, would, {'sentence': '0'}),
   Annotation(token, 49, 53, visit, {'sentence': '0'}),
   Annotation(token, 55, 56, us, {'sentence': '0'}),
   Annotation(token, 58, 61, next, {'sentence': '0'}),
   Annotation(token, 63, 66, week, {'sentence': '0'}),
   Annotation(token, 67, 67, ., {'sentence': '0'})]}]

## Sentiment Analysis

In [0]:
pipeline =PretrainedPipeline('analyze_sentiment', 'en')

analyze_sentiment download started this may take some time.
Approx size to download 4.9 MB
[OK!]

In [0]:
result = pipeline.annotate('The movie I watched was not a good one')

In [0]:
result

{'checked': ['The', 'movie', 'I', 'watched', 'was', 'not', 'a', 'good', 'one'],
 'document': ['The movie I watched was not a good one'],
 'sentence': ['The movie I watched was not a good one'],
 'sentiment': ['negative'],
 'token': ['The', 'movie', 'I', 'watched', 'was', 'not', 'a', 'good', 'one']}

In [0]:
result['sentiment']

['negative']